@model BusApplication.Models.Tickets

@{
    ViewData["Title"] = "Szczegóły biletu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-white mt-3 text-center">Szczegóły biletu</h1>

<div class="container">
    <div class="row bg-dark text-white p-3 m-3">
        <div class="col-12">
            <div class="form-group row pt-3">
                <div class="col-5">
                    <h4>Data zakupu biletu:</h4>
                </div>
                <div class="col-7">
                    <h4>@Model.PurchaseDates</h4>
                </div>
            </div>
            <div class="form-group row pt-2">
                <div class="col-5">
                    <h4>Kupujący:</h4>
                </div>
                <div class="col-7">
                    <h4>@Model.ApplicationUser.FirstName @Model.ApplicationUser.LastName</h4>
                </div>
            </div>
            <div class="form-group row pt-2">
                <div class="col-5">
                    <h4>Data wyjazdu:</h4>
                </div>
                <div class="col-7">
                    <h4>@Model.BusRoute.RouteDate.Day/@Model.BusRoute.RouteDate.Month/@Model.BusRoute.RouteDate.Year</h4>
                </div>
            </div>
            <div class="form-group row pt-2">
                <div class="col-5">
                    <h4>Stacja początkowa:</h4>
                </div>
                <div class="col-7 mb-1">
                    @if (Model.Departure.Minute < 10)
                    {
                        <h4>@Model.StartBusStopName <br />Odjazd: @Model.Departure.Hour:<text>0</text>@Model.Departure.Minute</h4>
                    }
                    else
                    {
                        <h4>@Model.StartBusStopName <br />Odjazd: @Model.Departure.Hour:@Model.Departure.Minute</h4>
                    }
                </div>
                <div class="col-5">
                    <h4>Stacja końcowa</h4>
                </div>
                <div class="col-7">
                    @if (Model.Arrival.Minute < 10)
                    {
                        <h4>@Model.EndBusStopName <br />Przyjazd: @Model.Arrival.Hour:<text>0</text>@Model.Arrival.Minute</h4>
                    }
                    else
                    {
                        <h4>@Model.EndBusStopName <br />Przyjazd: @Model.Arrival.Hour:@Model.Arrival.Minute</h4>
                    }
                </div>
            </div>
            <div class="form-group row pt-2">
                <div class="col-5">
                    <h4>Liczba biletów normalnych:</h4>
                </div>
                <div class="col-7">
                    <h4>@Model.NumberOfRegularTickets szt.</h4>
                </div>
            </div>
            <div class="form-group row pt-3">
                <div class="col-5">
                    <h4>Liczba biletów studenkich:</h4>
                </div>
                <div class="col-7">
                    <h4>@Model.NumberOfStudentsTickets szt.</h4>
                </div>
            </div>
            <div class="form-group row pt-3">
                <div class="col-5">
                    <h4>Liczba dodatkowych bagaży:</h4>
                </div>
                <div class="col-7">
                    <h4>@Model.NumberOfExtraBaggages szt.</h4>
                </div>
            </div>
            <div class="form-group row pt-3">
                <div class="col-5">
                    <h4>Wartość biletów:</h4>
                </div>
                <div class="col-7">
                    <h4>@Model.Payment.Value zł</h4>
                </div>
            </div>
            <div class="form-group row pt-3">
                <div class="col-5">
                    <h2>Status:</h2>
                </div>
                <div class="col-7">
                    @if (Model.Payment.Status == "New")
                    {
                        <h2 style="color: red;"><strong>Oczekujący na płatność</strong></h2>
                    }
                    else if (Model.Payment.Status == "Confirmed")
                    {
                        <h2 style="color: green;"><strong>Opłacony</strong></h2>
                        <h2>Dnia: @Model.Payment.ConfirmationDate</h2>
                        @if (Model.Payment.ApplicationUser != null)
                        {
                            <h4>Zatwierdzony przez: @Model.Payment.ApplicationUser.FirstName @Model.Payment.ApplicationUser.LastName</h4>
                        }
                        else
                        {
                            <h4>Zatwierdzony przez: konto usunięte</h4>
                        }
                    }
                    else
                    {
                        <h2 style="color: white;"><strong>Anulowany</strong></h2>
                        <h2>Dnia: @Model.Payment.CanceledDate</h2>
                        @if (Model.Payment.ApplicationUser != null)
                        {
                            <h4>Przez: @Model.Payment.ApplicationUser.FirstName @Model.Payment.ApplicationUser.LastName</h4>
                        }
                        else
                        {
                            <h4>Przez: konto usunięte</h4>
                        }
                    }
                </div>
            </div>

            <div class="col-12">
                @if (Model.Payment.Status == "New")
                {
                    <div class="col-4">
                        <form method="post" asp-action="ConfirmTicket" enctype="multipart/form-data">
                            <input type="hidden" asp-for="@Model.Id" name="TicketId" />
                            <button type="submit" class="btn btn-primary form-control mt-3">Zatwierdź bilet</button>
                        </form>
                    </div>
                }
                @if (Model.Payment.Status != "Canceled")
                {
                    <div class="col-4">
                        <form method="post" asp-action="CancelTicket" enctype="multipart/form-data">
                            <input type="hidden" asp-for="@Model.Id" name="TicketId" />
                            <button type="submit" class="btn btn-info form-control mt-3">Anuluj bilet</button>
                        </form>
                    </div>
                }
                <div class="col-4">
                    <a asp-action="Index" class="btn btn-success form-control mt-3">Wróć do listy</a>
                </div>
            </div>

        </div>

    </div>
</div>